$colors: (
  'grey': #dadce0,
  'blue': #8ab4f8,
  'red': #f28b82,
  'yellow': #fdd663,
  'green': #81c995,
  'pink': #ff8bcb,
  'purple': #c58af9,
  'cyan': #78d9ec,
  'orange': #fcad70
);

@each $color, $value in $colors {
  .text-#{$color} {
    color: $value;
  }

  .bg-#{$color} {
    background-color: $value;
  }

  .border-b-#{$color} {
    border-bottom: 1px solid $value;
  }
}

.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #202124;
  padding-top: 20px;
}

.Title {
  font-size: 20px;
  color: #bdc1c6;
  margin-bottom: 10px;

  .Host {
    font-weight: bold;
  }
}

.Subtitle {
  font-size: 12px;
  color: #bdc1c6;
  cursor: pointer;
}

.Tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.Tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.3;

  &.isHighlighted {
    opacity: 1;

    input {
      font-weight: bold;
    }
  }

  input {
    width: 100%;
    background: transparent;
    border: none;
    text-align: center;
    outline: none;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.25);
      cursor: text;
    }
  }
}

.Patterns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: center;
  height: 190px;
  overflow-y: auto;
}


.Pattern {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    width: 16px;
    height: 16px;
  }

  .PatternIcon {
    width: 16px;
    height: 16px;
    color: #e8eaed;
    font-weight: bold;
    font-size: 16px;
  }

  input {
    width: 300px;
    background-color: #303134;
    color: #e8eaed;
    padding: 4px 8px;
    outline: none;
    border-radius: 4px;
    border: none;
    font-size: 16px;
  }

  .matchesCurrentUrl {
    border: 1px solid #e8eaed;
  }
}

.BtnSeparator {
  margin-top: 10px;
  color: #e8eaed;
  font-size: 12px;
  opacity: 0.5;
}

.DeleteAllBtn,
.OthersBtn {
  margin-top: 10px;
  color: #e8eaed;
  cursor: pointer;
  font-size: 12px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}